<%- include('../Partials/navbar.ejs') %>

<div class="container">
    <h1 style="text-align: center; margin: 40px;"><%= title %></h1>

        <% if(msg.length){ %>
        <div class="alert alert-info alert-dismissible fade in" style="width: 80%;text-align: center;" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><%= msg %></strong>
        </div>
        <% } %>
        <form action="/signup" method="post" class="form-horizontal" id="form">
            <div class="col-sm-3"></div>
            <div  class="col-sm-6" >
                <center>
                    <div class="form-group">
                        <label>Username :</label>&nbsp;&nbsp;<label id="avilability"></label><br/>
                        <input type="text" required="" name="username" class="form-control" id="username"><br/>
                    </div>
                    <div class="form-group">
                        <label>Password :</label><br/>
                        <input type="password" required="" name="password" class="form-control"><br/>
                    </div>
                    <div class="form-group">
                        <label>Phone :</label><br/>
                        <input type="text" required="" name="phone" class="form-control" maxlength="10" id="phone"><br/>
                    </div>
                    <div class="form-group">
                        <label>City :</label><br/>
                        <input type="text" required="" name="city" class="form-control"><br/>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Sign Up" class="btn btn-primary">
                        <a  class="btn btn-primary" href="/productlist">Home</a>
                    </div>
                </center>
            </div>

        </form>

</div>
</div>
</div> <!--Header-->
<script>

</script>
</body>
</html>
